@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Work+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("images/colourfulbg-med.jpg");
    background-size: cover;
    background-position: 0px -150px;
    background-repeat: repeat;
    height: 100vh;
}

/* Nav bar */
header {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: 0.5rem;
    font-family: 'work sans', sans-serif;
}

nav {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

nav a {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0.5rem;
    color: #fc5119;
    font-size: 0.75rem;
    text-decoration: none;
}

nav a:hover {
    color: #b8ae00;
} 

#logo {
    height: 30px;
}

/* ABOUT ME CONTENT */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#heading {
    display: flex;
    font-family: 'caveat', cursive;
    color: white;
    font-size: 20vw;
    margin: 0 0.5rem;
}
main img {
    display: flex;
    align-self: center;
    border-radius: 20px;
    object-fit: cover;
    width: 50vw;
    aspect-ratio: 4/5;
    margin: 0.5rem;
}

main {
    background-color: rgba(255, 255, 255, 0.742);
    color: #454545;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;

}

.content { 
    display: flex;
    flex-direction: column;
    font-family: 'work sans', sans-serif;
    color: #454545;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;
}

main div {
    margin: 0.5rem;
}

main div p {
    margin-top: 0.5rem;
}

.about-link  {
    display: flex;
    text-decoration: none;
    color: #fc5119;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.about-link:hover {
    text-decoration: none;
    color: #b8ae00;
    text-transform: uppercase;
}

/* social media links */
#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    margin: 0.5rem;
    font-size: 2vw;
    margin-top: auto;
  }
  
  #social-links p {
    font-family: 'work sans', sans-serif;
    margin: 0.25rem;
    color: #fc5119;
    font-size: 2vw;
  }
  
 footer {
    display: flex;
    font-family: 'work sans', sans-serif;
    justify-content: center;
    margin-bottom: 0.75rem;
    color: white;
    font-size: 2vw;
  }

/* responsive tablet */
@media screen and (min-width: 500px) and (max-width: 899px) {

    nav a {
        font-size: 1rem;
      }
  
    #heading {
        font-size: 18vw;
    }
}

/* responsive desktop */
@media screen and (min-width: 900px) {

    body {
        background-repeat: no-repeat;
    }
    
    nav a {
        font-size: 18px;
      }
    
    #heading {
        display: flex;
        width: 100%;
        font-size: 150px; 
    }

    main {
        display: flex;
        flex-direction: row;
    }

    main img {
        margin-left: 0.5rem;
        max-width: 400px;
    }
    
    #social-links p {
        font-size: 18px;
    }
    
    footer {
        font-size: 15px;
    }

}